body {
    background-color: #293133;
    color: white;
}

.covid {
    background-color: #0e0e0e;
    color: white;
}

a {
    color: #ffb6c1;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

label {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.chart {
    text-align: center;
}

.currency {
    text-align: right;
}

.tagline {
    font-size: 0.7em;
}

.strike {
    text-decoration: line-through;
}

.menubar {
    margin: 25px;
    text-align: center;
}

.menubar span {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    margin: 10px;
}

.menubar a {
    color: white;
    text-decoration: none;
}

.data {
    margin: 10px;
    text-align: center;
}

.data label {
    margin: 10px 2px 10px 10px; 
}

.data input {
    margin: 10px 10px 10px 2px; 
    width: 50px;
}

#calculator {
    display: grid;
    grid-template-columns: 80px 120px 80px 120px 250px;
    margin: 0 0 0 100px;
    grid-gap: 10px;
}

input  {
  outline: none;
  padding: 3px 8px;
  box-sizing: border-box;
  border: none;
}

input[readonly] {
  background-color: #999;
}

.section {
    display: none;
}

.avatar {
  width: 100px;
  margin: 0px 20px 0px 20px;
  vertical-align: middle;
}
